Pandas

It is high -level data manipulation tool developed by Wes McKinney.It is built on the platform of Numpy package.

Its key Data structure is called Data Frames and Data Frames allow you to store data in tabular form.

Why we are using Pandas??

It is a software library written for Python programming for Data Manipulation & Data Analysis.

It also offer data structure for manipulation of numerical data and time series.

Pandas can read 2 type of data structure

1. Series - 1dimension labeled homogenous array.

2. Data Frame - 2dimension tabular structure.

In [1]:
#series
#dataframe
import pandas as pd

In [4]:
#Pandas series
#make a list
a = [1,2.3,'ankit']
list = [1,2.3,'hhjkh']

In [3]:
type(a)

list

In [5]:
z = pd.Series(a)

In [6]:
print(z)

0        1
1      2.3
2    ankit
dtype: object

In [7]:
#shortcut method
x = pd.Series([222,3.4432,'amit'])

In [8]:
print(x)

0       222
1    3.4432
2      amit
dtype: object

In [9]:
type(x)

pandas.core.series.Series

In [11]:
#empty list
x = [1,222,'ghjgjh']

In [12]:
type(x)

list

In [13]:
z = pd.Series(x)
print(z)

0         1
1       222
2    ghjgjh
dtype: object

In [14]:
type(z)

pandas.core.series.Series

In [16]:
z= pd.Series( )
print(z)

Series([], dtype: float64)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

In [17]:
type(z)

pandas.core.series.Series

In [21]:
# change the index of the series
a = pd.Series([1,2,3,4],index= ['a','b','c','d'])
print(a)

a    1
b    2
c    3
d    4
dtype: int64

In [22]:
#task - using pandas data series ,create a list and change its index to p,q,r,s
#ankit@infizeal.com

In [29]:
#type - int, float, string/object
#int - regular kind of data -0,1,2,3,4,...... n
#float - 1.2,7.6,8.6
#object - 1,2.5,'hghggh'
#change the type of data

a = pd.Series([1,2,3,4],dtype=float)

In [30]:
print(a)

0    1.0
1    2.0
2    3.0
3    4.0
dtype: float64

In [34]:
#how to labeled your data
a = pd.Series([1,2,3,4,2.3,33.4],name = 'Price in rupees')
print(a)

0     1.0
1     2.0
2     3.0
3     4.0
4     2.3
5    33.4
Name: Price in rupees, dtype: float64

In [35]:
# task - create a data series with making a list,change the name of the 
#index also change the its dtype & name.

In [37]:
dict = {'a':1,'b':2,'d':78}
print(dict)

{'a': 1, 'b': 2, 'd': 78}

In [38]:
# dict with pandas data series
dict = pd.Series({'a':2,'h':67,'k':34})

In [39]:
print(dict)

a     2
h    67
k    34
dtype: int64

In [40]:
#operation
s= pd.Series([1,2,3,4])
print(s)

0    1
1    2
2    3
3    4
dtype: int64

In [41]:
s[0]

1

In [42]:
s[3]

4

In [44]:
s[2]

3

In [45]:
#slicing the data 
s=pd.Series([1,2,3,4,5,6,7,8,9])

In [46]:
print(s)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [47]:
s[0:3]

0    1
1    2
2    3
dtype: int64

In [52]:
#max
#min
#greater than
#less than
a= min(s)
print(a)

1

In [53]:
z = max(s)
print(z)

9

In [54]:
#greater than
s[s>3]

3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [55]:
#less than
s[s<3]

0    1
1    2
dtype: int64

In [57]:
# adding two data series
a= pd.Series([1,2,3,4])
b= pd.Series([5,6,7])
print(a+b)
#NaN - not a number

0     6.0
1     8.0
2    10.0
3     NaN
dtype: float64

Data Frames - 2d ,size mutable, tabular data structure with labeled axis i.e - rows & columns.

In [58]:
#creating dataframe with list
list = [1,2,3,4]
df = pd.DataFrame(list)

In [59]:
print(df)

   0
0  1
1  2
2  3
3  4

In [60]:
#create empty data frame
emp_df = [2,3,4]
df = pd.DataFrame(emp_df)
print(df)

   0
0  2
1  3
2  4

In [61]:
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

How to create multiple columns?

1. Make a list.

2. Make a DataFrame.

In [65]:
list = [[1,2,3],[2,3,4,6],[3,4,5]]
df = pd.DataFrame(list)
print(df)

   0  1  2    3
0  1  2  3  NaN
1  2  3  4  6.0
2  3  4  5  NaN

In [70]:
# Creating Dataframe with dict
dict = {'a':[1,2,3],'b':[22.34,66,2],'c':[2,1,3]}
df = pd.DataFrame(dict)
print(df)

   a      b  c
0  1  22.34  2
1  2  66.00  1
2  3   2.00  3

In [68]:
type(df)

pandas.core.frame.DataFrame

In [74]:
#list of dict
list_of_dict=[{'a':1,'b':2},{'a':4,'b':22,'c':7}]
df = pd.DataFrame(list_of_dict)
print(df)

   a   b    c
0  1   2  NaN
1  4  22  7.0