In [1]:
#import pandas
import pandas as pd

In [2]:
#version config
pd.__version__

'1.0.5'

In [3]:
a = ['a',2,3,4.332]

In [4]:
z= pd.Series(a)

In [5]:
print(z)

0        a
1        2
2        3
3    4.332
dtype: object

In [6]:
type(z)

pandas.core.series.Series

In [7]:
#short method
q = pd.Series([1,2.232,'Ankit'])

In [8]:
print(q)

0        1
1    2.232
2    Ankit
dtype: object

In [10]:
#creating empty list
s = pd.Series([])
print(s)

Series([], dtype: float64)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.

In [15]:
a = pd.Series([1,2,3,4],index=['a','b','c','d'],dtype=float,name='price')

In [16]:
print(a)

a    1.0
b    2.0
c    3.0
d    4.0
Name: price, dtype: float64

In [18]:
z[0]

'a'

In [19]:
#scaler value
s= pd.Series(0.9,index=[0,1,2])

In [20]:
print(s)

0    0.9
1    0.9
2    0.9
dtype: float64

In [21]:
#with dictonary
dict = pd.Series({'a':0,'b':1})

In [22]:
print(dict)

a    0
b    1
dtype: int64

In [23]:
#operators
s = pd.Series([1,2,3,4])
print(s)

0    1
1    2
2    3
3    4
dtype: int64

Indexing

In [24]:
s[0]

1

In [25]:
s[2]

3

In [28]:
#slicing operator
s[0:3]

0    1
1    2
2    3
dtype: int64

min & max opearator

In [29]:
max(s)

4

In [30]:
min(s)

1

In [35]:
#numbers greater than 3
print(s[s>3])

3    4
dtype: int64

In [37]:
#adding two series
#first make two series
a = pd.Series([1,2,3,4])
b = pd.Series([1,2,3,4] )

In [39]:
print(a+b)

0    2
1    4
2    6
3    8
dtype: int64

## **How to create Data Frames in PANDAS in python??**

In [41]:
#creating empty df
emp_df = pd.DataFrame()

In [42]:
print(emp_df)

Empty DataFrame
Columns: []
Index: []

In [44]:
#create with list
lst = ['a','b']
df = pd.DataFrame(lst)
print(df)

   0
0  a
1  b

In [53]:
df = pd.DataFrame([0,1,2,3,4.3,'a'])

In [54]:
#uppermost 0 is the label
df

     0
0    0
1    1
2    2
3    3
4  4.3
5    a

In [58]:
# make multiple columns
# This method is called list of list or dictonary of list 
# First make a list of list and then make the Dataframe of the list of list.

ls_of_ls= [[1,2,3],[2,3,4],[3,4,5]]

In [59]:
print(ls_of_ls)

[[1, 2, 3], [2, 3, 4], [3, 4, 5]]

In [62]:
df= pd.DataFrame(ls_of_ls)
df

   0  1  2
0  1  2  3
1  2  3  4
2  3  4  5

In [82]:
# make data frame with dictonary
dict = {'Price':[1,3,5,7,9],'Space':[2,4,6,8,10]}

In [83]:
dict

{'Price': [1, 3, 5, 7, 9], 'Space': [2, 4, 6, 8, 10]}

In [85]:
df = pd.DataFrame(dict)
print(df)

   Price  Space
0      1      2
1      3      4
2      5      6
3      7      8
4      9     10

In [94]:
#list of dict
list_of_dict = [{'a':1,'b':3},{'a':6,'b':5,'c':2}]

In [95]:
df = pd.DataFrame(list_of_dict)
df

   a  b    c
0  1  3  NaN
1  6  5  2.0